OPENAI_API_KEY=Add Your OpenAI API Key

SINGLESTORE_HOST=svc-98ef7394-379e-498d-b500-efdec97e2064-dml.aws-london-1.svc.singlestore.com
SINGLESTORE_PORT=3306
SINGLESTORE_USER=admin
SINGLESTORE_PASSWORD=
SINGLESTORE_DATABASE=langchaindb

# Optional: change the table name
SINGLESTORE_TABLE=docchat_vectors